.header{
    margin:auto;
    height:60px;
    display:flex;
    flex-wrap:nowrap;
    justify-content:space-between;
    padding: 6px 9px 9px 9px;
    box-shadow: inset 0 -1px 0 0 #e8e8e8;
    background-color: #ffffff;
    border: 1px solid gray;
    border-bottom: none;
}

.header span {
    background-color: salmon;
    font-size: 9px;
    height: 14px;
    width: 14px;
    border-radius: 6px;
    position: absolute;
    border: 1px solid gray;
    transform: translate(-3px, -7px);
    box-sizing: border-box;
    padding-top: 2px;
    padding-left: 4px;
    opacity: 0.7;
}

.header img{
    width:90px;
    height:30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.a{
    margin-top: 10px;
    margin-bottom: 10px;
    width: 15px;
    height:30px;
}

.b{
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 4px;
}

.background{
    margin: auto;
    padding: 0px 9px 9px 9px;
    background-color: #feeddd;
    border: 1px solid gray;
}

.background img{
    width:fit-content;
    max-width: 100%;
    margin: auto;
    display: flex;
    align-content: center;
}

.title{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.buttons{
    height:48px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    margin: auto;

}

.button {
    width: 322px;
    height: 18px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 16px;
    font-weight: bold;
    line-height: 1.13;
    letter-spacing: 1px;
    text-align: center;
    padding: 11px 0;
    text-decoration: none;
}

.black {
    background-color: black;
    color:#ffffff;
}

.white {
    color: #000000;
    border:1px solid black;
}

@media (max-width: 750px) {
    .buttons {
        flex-direction: column;
    }

    .white {
        color: red;
        border: 1px solid purple;
    }
}