body {
    margin: 0;
}

.menu-container {
    border-bottom: 1px solid gray;
}

.menu {
    margin: auto;
  max-width: 1200px;
  background-color: #ffffff;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
 
}

.logo img {
  height: 47px;
  margin: auto;
  align-items: center;
}

.navigation {
    display: flex;
    flex-direction: row;
    list-style-type: none;
    padding-left: 0px;
    align-items: center;

}

.addons {
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    padding-left: 0;
}

.addons a {
    width: 100%;
    color: #222222;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    display: flex;
    align-items: flex-start;
}

a {
    text-decoration: none;
}

.live {
    color: #ffffff;
    font-family: 'Nunito Sans';
    font-size: 9px;
    font-weight: 800;
    letter-spacing: 1.5px;
    line-height: 12px;
    text-align: center;
    padding: 3px 6px;
    border-radius: 3px;
    background-color: #fb6a66;
    box-shadow: 0 0 0 3px #ffe1e1;
    margin-left: 9px;
    margin-top: -1px;
    margin-right: 36px;
}

.mybox, .shop, .community {   
    list-style: none;
    width: 100%;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-right: 36px;
}

.mybox, .shop, .community a {
    width: 100%;
    color: #222222;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    align-items: flex-start;
}

.navigation i {
    display: inline-block;
    font-style: normal;
    font-feature-settings: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    cursor: pointer;
}
.navigation > div > ul,
.navigation .submenu {
    display: none;
    position: absolute;
    color: black;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    align-items: flex-start;
    padding: 0;
    list-style: none;
    border-bottom: 1px solid #e8e8e8;
    box-sizing: border-box;
    align-items: center;
    background-color: #ffffff;
    overflow: initial;
    box-shadow: 0 2px 10px 0 grey;
    cursor: pointer;
    width: 250px;
    transform: translateX(-90px);
}


.navigation div:hover ul {
    display: block;
    list-style-type: none;
    padding: 0px;
}

.navegation ul li {
    width: 250px;
    background-color: #fff;
    padding: 0;
    box-sizing: border-box;
    position: absolute;
}



.tv {
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-right: 36px;
}

.tv a {
    width: 100%;
    color: #222222;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    align-items: flex-start;
}

.magazine {
    list-style: none;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    margin-right: 36px;
}

.magazine a {
    width: 100%;
    color: #222222;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    text-transform: uppercase;
    align-items: flex-start;
}



.joamin {
    display: flex;
    align-items: center;
    font-family: 'Nunito Sans';
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    margin: 20px 10px 10px 10px;
}

.subscription-stateactive {
    color: #ffffff;
    font-family: 'Nunito Sans';
    font-size: 9px;
    font-weight: 800;
    letter-spacing: 1.5px;
    line-height: 12px;
    text-align: center;
    border-radius: 3px;
    background-color: #4ebd41;
    margin-left: 9px;
    padding: 3px 6px;
}

.user-profile__item__detail__subscription {
    font-family: 'Nunito Sans';
    font-size: 14px;
    letter-spacing: 0;
    line-height: 18px;
    text-transform: capitalize;
    font-weight: 400;
    margin: 10px;
    display: flex;
}

.submenu-list {
    background-color: #e8e8e8;
}

.navbutton ul li {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    align-items: center;
    color: #222222;
    background-color: white;
}
.submenu {
    display: none;
    position: absolute;
}

.navbutton:hover .submenu {
    display: block;
    padding: 0px;
}

.navbutton {
    border:none;
    background: none;
    color: gray;
    background-color: none;
    text-decoration: none;
    font-size: 42px;
    
}

.buttoncart {
    box-sizing: border-box;
    border: none;
    margin: 0 0 9px 18px;
    width: 42px;
    height: 42px;
    border-radius: 23px;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
}

.navigation a {
    color: #222222;
}

.cart {
    border: 1px solid #d0d0d0;
    width: 42px;
    height: 42px;
    border-radius: 21px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 4px;
}

.navigation ul li a {
    width: 100%;
    color: #222222;
    font-family: 'Nunito Sans';
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 18px;
    text-decoration: none;
    padding: 10px;
    display: flex;
    align-items: flex-start;
}

.navigation ul li:hover {
    background-color: gainsboro;
}

.navigation > div > li:hover a {
    color: gainsboro;
}

.navigation > li a:hover {
    color: gainsboro;
}

@media only screen and (max-width: 700px) {
    .butt, .buttoncart {
        display: none;
    }
    .menu {
        flex-direction: column;
    }
    .menu-container {
        border-bottom: none;
    }

    .logo {
        border-bottom: 1px solid #e8e8e8;
        justify-content: space-between;
    }
    .navigation {
        flex-direction: column;
    }
    
    .navigation > li, .navigation > div {
        width: 100%;
        min-height: 54px;
        padding: 19px;
        box-sizing: border-box;
        border-bottom: 1px solid #e8e8e8;
        margin: 0;
    }

    .navigation ul li, .navigation div ul {
        position: relative;
        transform: none;
        background-color: #f9f9f9;
        padding: 15px 10px 15px 0;
        box-shadow: none;
        border-bottom: none;
        width: 100%;
        margin-left: 0;
    }

     .mybox, .shop, .community > li i {
        display: flex;
    }

}